<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="profile.introduce.myself.project.mapper.ProjectMapper">
    <select id="getProjectDetail" resultType="profile.introduce.myself.project.vo.ProjectDetailVo">
        SELECT PROJECT_DETAIL_SEQ,
               ALIAS,
               PROJECT_SEQ,
               DETAIL_ACT_TITLE,
               DETAIL_ACT_CONT,
               REGIST_TS,
               UPDATE_TS
        FROM PROJECT_DETAIL
        WHERE ALIAS = #{alias}
          AND PROJECT_DETAIL_SEQ = #{projectDetailSeq}
    </select>
    <select id="getProjectDetailSemiList" resultType="profile.introduce.myself.project.vo.ProjectDetailSemiVo">
        SELECT PROJECT_DETAIL_SEQ,
               ALIAS,
               PROJECT_SEQ,
               DETAIL_ACT_TITLE,
               IMAGE,
               REGIST_TS,
               UPDATE_TS
        FROM PROJECT_DETAIL
        WHERE ALIAS = #{alias}
          AND PROJECT_SEQ = #{projectSeq}
    </select>
</mapper>