<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="profile.introduce.myself.user.mapper.UserMapper">
    <select id="chooseProfile" resultType="profile.introduce.myself.user.vo.ProfileVo">
        SELECT NAME,
        PASSWORD,
        BIRTH_YEAR,
        SEX,
        ADDR,
        ADDR_DETAIL,
        SIMPLE_INTRODUCE_MYSELF,
        DETAIL_INTRODUCE_MYSELF,
        IMAGE,
        EMAIL,
        GIT_HUB,
        BLOG,
        REGIST_TS,
        UPDATE_TS
        FROM MY_PROFILE
        WHERE NAME = #{name}
    </select>
    <select id="getStackList" resultType="profile.introduce.myself.user.vo.MyStackVo">
        SELECT STACK_SEQ,
        NAME,
        STACK_NAME,
        STACK_LEVEL,
        STACK_DETAIL,
        STACK_IMAGE,
        CATEGORY,
        CATEGORY_LEVEL,
        PROFILE_VIEW_YN,
        REGIST_TS,
        UPDATE_TS
        FROM MY_STACK
        WHERE NAME = #{name}
        ORDER BY CATEGORY_LEVEL, STACK_LEVEL
    </select>
</mapper>
