<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="profile.introduce.myself.user.mapper.UserMapper">
    <select id="getProfile" resultType="profile.introduce.myself.user.vo.ProfileVo">
        SELECT NAME,
               PASSWORD,
               BIRTH_YEAR,
               SEX,
               ADDR,
               ADDR_DETAIL,
               SIMPLE_INTRODUCE_MYSELF,
               DETAIL_INTRODUCE_MYSELF,
               IMAGE,
               EMAIL,
               GIT_HUB,
               BLOG,
               ALIAS,
               MAIN_CONTENT,
               REGIST_TS,
               UPDATE_TS
        FROM MY_PROFILE
        WHERE ALIAS = #{alias}
    </select>
    <select id="getStackList" resultType="profile.introduce.myself.stack.vo.StackVo">
        SELECT STACK_SEQ,
               ALIAS,
               STACK_NAME,
               STACK_LEVEL,
               STACK_DETAIL,
               STACK_IMAGE,
               CATEGORY,
               CATEGORY_LEVEL,
               PROFILE_VIEW_YN,
               REGIST_TS,
               UPDATE_TS
        FROM MY_STACK
        WHERE ALIAS = #{alias}
        ORDER BY CATEGORY_LEVEL, STACK_LEVEL
    </select>
    <select id="getUser" resultType="profile.introduce.myself.security.UserVo">
        SELECT NAME,
               PASSWORD,
               ROLE,
               ALIAS
        FROM MY_PROFILE
        WHERE ALIAS = #{alias}
    </select>
    <update id="editProfileImage">
        UPDATE MY_PROFILE
        SET IMAGE = #{imageName}
        WHERE ALIAS = #{alias}
    </update>
    <update id="updateProfile">
        update my_profile
        set name = #{name},
            alias = #{alias},
            addr = #{addr},
            addr_detail = #{addrDetail},
            git_hub = #{gitHub},
            blog = #{blog},
            email = #{email},
            main_content = #{mainContent[0]} || '||' || #{mainContent[1]},
            simple_introduce_myself = #{shortIntro},
            detail_introduce_myself = #{longIntro}
        where alias = #{originAlias}
    </update>
</mapper>
